.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tabs {
  color: rgb(165, 17, 17);
  text-decoration: none;
  padding: 20px 30px;
}

.tabs:hover {
  background-color: rgb(68, 5, 0);
}
.hit {
  background-color: rgb(206, 74, 50);
  /* height: 10vh; */
  padding: 20px;
}
